<!-- partials/user/footer.ejs -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/Chronocraft Logo 2 transp copy.png" alt="CHRONOCRAFT" height="40">
                <p>The watch store that defines excellence and sophistication.</p>
            </div>
            <div class="col-md-3">
                <h4 class="footer-heading">Customer Service</h4>
                <a href="#" class="footer-link">Contact Us</a>
                <a href="#" class="footer-link">Shipping & Returns</a>
                <a href="#" class="footer-link">FAQ</a>
            </div>
            <div class="col-md-3">
                <h4 class="footer-heading">About Us</h4>
                <a href="#" class="footer-link">Our Story</a>
                <a href="#" class="footer-link">Store Locations</a>
                <a href="#" class="footer-link">Careers</a>
            </div>
            <div class="col-md-3">
                <h4 class="footer-heading">Connect With Us</h4>
                <div class="social-links">
                    <a href="#" class="footer-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="footer-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="footer-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="footer-link"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>